<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		{% for title in titles %}
			<div class="card my-2">
				<div class="row no-gutters">
            		<div class="col-auto">
                		<img src="//placehold.it/200" class="img-fluid" alt="">
            		</div>
            		<div class="col">
                		<div class="card-block px-2">
                    		<h4 class="card-title">{{ title.text.strip() }}</h4>
                    		<p class="card-text">Description</p>
                		</div>
            		</div>
        		</div>
			</div>
		{% endfor %}
	</div>
</body>
</html>

